@import "src/common/Styles/Sass/variables.scss";
@import "src/common/Styles/Sass/mixins";
@import "src/common/Styles/Sass/fonts.scss";

.homeBlock {
  min-height: 100vh;
  background-color: $bgPrimaryColor;

  .intro {

    .tagTop {
      position: relative;

      &:before {
        letter-spacing: 4px;
        @include tagBefore('<html>', -6rem, 0.3rem);
      }

      &:after {
        letter-spacing: 4px;
        @include tagAfter('<body>', 1rem, 3.5rem);
      }
    }

    h1 {
      margin-left: 50px;
      position: relative;
      span {
        @include text($mainFontFamily, 6rem, 800, 3rem, $textColor);
      }
      &:before {
        @include tagBefore('<h1>', -3rem, -1.4rem);
      }

      &:after {
        @include tagAfter('<h1/>', 26rem, -1.1rem);
      }
    }

    .homeDescription {
      margin-top: 40px;
      position: relative;
      letter-spacing: 4px;
      @include text($TitleFontFamily, 1.6rem, 300, 1.5rem, $textSecondaryColor);

      &:before {
        @include tagBefore('<p>', -1.5rem, 1.7rem);
      }

      &:after {
        @include tagAfter('<p/>', 1.7rem, -1.8rem);
      }
    }
    .CvBtnContainer {
      margin: 6rem 50px 50px 50px;
    }
  }

  .photo {
    background-size: cover;
    background-position: center;

    .mainPhoto {
      width: 400px;
      height: 500px;
    }
  }
}










