@import "src/common/Styles/Sass/variables.scss";
@import "src/common/Styles/Sass/mixins";

.homeBlock {
  min-height: 100vh;
  padding-top: 4em;
  background-color: $bgPrimaryColor;

  .homeContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 50px;
    @media screen and (max-width: 1377px) {
      padding-top: 150px;
      justify-content: center;
    }

    .intro {

      .tagTop {
        position: relative;

        &:before {
          letter-spacing: 4px;
          @include tagBefore('<html>', -6rem, 0.3rem);
        }

        &:after {
          letter-spacing: 4px;
          @include tagAfter('<body>', 1rem, 3.5rem);
        }
      }

      h1 {
        margin-left: 50px;
        position: relative;

        span {
          opacity: 1;
          display: inline-block;
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          @include text($mainFontFamily, 7rem, 800, 3rem, $textColor);
          @media screen and (max-width: 544px) {
            @include text($mainFontFamily, 6rem, 800, 3rem, $textColor)
          }
          @media screen and (max-width: 421px) {
            @include text($mainFontFamily, 5rem, 800, 3rem, $textColor)
          }

          &:hover {
            color: $primaryColor;
            transition: all 0.3s ease-out;
            animation: rubberBand 0.7s both;
            -webkit-animation: rubberBand 0.7s both;
          }
              @keyframes rubberBand {
                0% {
                  -webkit-transform: scale3d(1, 1, 1);
                  -ms-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                }
                30% {
                  -webkit-transform: scale3d(1.25, 0.75, 1);
                  -ms-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1)
                }
                40% {
                  -webkit-transform: scale3d(0.75, 1.25, 1);
                  -ms-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1)
                }

                50% {
                  -webkit-transform: scale3d(1.15, 0.85, 1);
                  -ms-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1)
                }

                65% {
                  -webkit-transform: scale3d(0.95, 1.05, 1);
                  -ms-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1)
                }

                75% {
                  -webkit-transform: scale3d(1.05, 0.95, 1);
                  -ms-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1)
                }

                100% {
                  -webkit-transform: scale3d(1, 1, 1);
                  -ms-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1)
                }
          }
        }

        &:before {
          @include tagBefore('<h1>', -3rem, -1.4rem);
        }

        &:after {
          @include tagAfter('<h1/>', -1.5rem, -2.5rem);
        }
        .animationLogo {
          padding-left: 30px;
          width: 85px;
          height: 110px;
          @media screen and (max-width: 544px) {
            width: 65px;
            height: 90px;
          }
          @media screen and (max-width: 421px) {
            width: 55px;
            height: 70px;
          }
        }
      }

      .homeDescription {
        margin-top: 60px;
        position: relative;
        letter-spacing: 4px;
        @include text($TitleFontFamily, 1.6rem, 300, 1.5rem, $textSecondaryColor);
        @media screen and (max-width: 544px) {
          @include text($TitleFontFamily, 1.2rem, 300, 1.5rem, $textSecondaryColor);
          margin-left: 30px;
        }

        &:before {
          @include tagBefore('<p>', -1.5rem, 1.7rem);
        }

        &:after {
          @include tagAfter('<p/>', 1.7rem, -1.8rem);
        }
      }

      .CvBtnContainer {
        margin: 6rem 50px 50px 50px;
      }
    }

    .photo {
      background-size: cover;
      background-position: center;

      .mainPhoto {
        width: 400px;
        height: 500px;
        @media screen and (max-width: 544px) {
          width: 240px;
          height: 310px;
        }
      }
    }

    .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      left: 4%;
      bottom: 20px;
      @media screen and (max-width: 1000px) {
        visibility: hidden;
      }

      path {
        stroke: $primaryColor;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
      }

      .a1 {
        animation-delay: -1s;
        -webkit-animation-delay: -1s; /* Safari 和 Chrome */
      }

      .a2 {
        animation-delay: -0.5s;
        -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
      }

      .a3 {
        animation-delay: 0s;
        -webkit-animation-delay: 0s; /* Safari 和 Chrome */
      }

      @keyframes arrow {
        0% {
          opacity: 0
        }
        40% {
          opacity: 1
        }
        80% {
          opacity: 0
        }
        100% {
          opacity: 0
        }
      }

      @-webkit-keyframes arrow /*Safari and Chrome*/
      {
        0% {
          opacity: 0
        }
        40% {
          opacity: 1
        }
        80% {
          opacity: 0
        }
        100% {
          opacity: 0
        }
      }
    }


  }
}




