@import "src/common/Styles/Sass/variables.scss";

.header {
    height: 80px;
    background-color: $bgSecondaryColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
