.contactMeBlock {
    min-height: 100vh;
    background-color: #67d15a;
}
.contactMeContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    background-color: darkgreen;
}

.contactForm {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.messageBlock {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.contactsBlock {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
