@import "src/common/Styles/Sass/variables.scss";
@import "src/common/Styles/Sass/mixins";

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  input {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 40px;
    box-sizing: border-box;
    margin: 3px 3px 8px 3px;
    @include text($TitleFontFamily, 16px, 500, 1.15, #8d8d8d);
  }

  textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 80px;
    box-sizing: border-box;
    margin: 20px 3px 3px 3px;
    @include text($TitleFontFamily, 16px, 500, 1.15, #8d8d8d);
  }

  .error {
    padding-left: 3px;
    @include text($TitleFontFamily, 16px, 500, 1.15, $secondaryColor);
  }

  .submitButton {
    margin: 10px 5px 30px 5px;
  }

  .disabled {

  }
}
