.title {
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    color: #062d2c;
    margin-bottom: 4rem;
    position: relative;
}
.title h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    margin-top: 0;
}
.title::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #148780;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
}
