@import "../../common/Styles/Sass/variables";
@import "src/common/Styles/Sass/mixins";
.portfolioBlock {
  min-height: 100vh;
  background-color: $bgPrimaryColor;
  padding-top: 4rem;

  .portfolioContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .projects {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }

    .gitLink {
      display: flex;
      align-items: center;
      background: transparent;
      border: 0;
      padding: 0;
      vertical-align: baseline;
      outline: none;

      .gitLinkText {
        @include text($TitleFontFamily, 18px, 400, 1.5, $textColor);
        margin-right: 20px;
      }
    }
  }
}





