.portfolioBlock {
    min-height: 100vh;
    background-color: #f5f5f5;
    padding-top: 4rem;
}

.portfolioContainer {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.githablinking {
    display: flex;
    align-items: center;
    color: #4e4e4e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: transparent;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
}
.githablinking span {
    position: relative;
    z-index: 2;
    transition: all .3s ease;

}
.gitBtn {
    text-decoration: none;
    color: #cfeeee;
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    border-radius: 50px;
    border: 2px solid rgb(18, 174, 164);
    padding: 3px 10px 3px;
    position: relative;
    overflow: hidden;
    background: transparent;
    margin: 3px;
}

.gitBtn::before {
    content: '';
    position: absolute;
    z-index: 0;
    background-color: rgb(18, 174, 164);
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 120%;
    transition: all .3s ease;
}
.gitBtn:hover:before {
    height: 0;
}
.gitBtn:hover {
    color: #062d2c;
}
@media screen and (max-width: 624px) {
    .projects {
        justify-content: center;
    }
}
