.mySkillsBlock{
    min-height: 100vh;
    background-color: rgba(212, 177, 140, 0.99);
}

.mySkillsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.title {
    background-color: gold;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
@media screen and (max-width: 624px) {
    .skills {
        justify-content: center;
    }
}
