//----Colors------
$textColor: #fff;
$textSecondaryColor: #909096;
$primaryColor: #08fdd8;
$secondaryColor: #FF0820;
$bgPrimaryColor: #1d1d1d;
$bgSecondaryColor: #181818;
$shadows: #083938;

//----Fonts-----
$TitleFontFamily: 'Open Sans', sans-serif;
