
//----Colors------
$textColor: #fff;
$textSecondaryColor: #909096;
$primaryColor: #08fdd8;
$secondaryColor: #FD2155;
$formColor: #2b2b2b;
$bgPrimaryColor: #1d1d1d;
$bgSecondaryColor: #181818;
$shadows: #001414;

//----Fonts-----
$TitleFontFamily: 'Open Sans', serif;
$mainFontFamily: 'Coolvetica', sans-serif;

@font-face {
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Coolvetica.ttf');
}
