@import "src/common/Styles/Sass/variables.scss";
@import "src/common/Styles/Sass/mixins";

.footerBlock {
  height: 100px;
  background-color: $bgSecondaryColor;

  .footerContainer {
    min-height: 100px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.copyrightName {
  color: $primaryColor;
  @include text($mainFontFamily, 1.3rem, 800, 1rem, $primaryColor);
}

.copyright {
  color: $textSecondaryColor;
}
